.list {
  @apply w-full mt-3;
  border-left: 3px solid #423340b6;
}

.list li {
  @apply px-8 py-10 relative;
}

.list li::before {
  @apply absolute;
  content: "";
  width: 15px;
  height: 3px;
  background-color: #423340b6;
  left: 0;
  top: 50%;
  transform: translate(-55%, -50%);
  position: absolute;
}
