.home {
  /* Cormorant Garamond */
    font-family: 'Cormorant Garamond', serif;
    color: #5a4625;
    background-color: #f4ebda;
    padding: 0 6rem;
  }
  
  .cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .hero {
    text-align: center;
    padding: 2rem 2rem;
  }

  .hero-h1 {
    font-size: 1.6rem;
    font-weight: semibold;
    font-family: 'Cormorant Garamond', serif;
    padding: 1rem 0;
  }

  .hero-h2 {
    font-size: 2.5rem;
    font-weight: semibold;
    font-family: 'Cormorant Garamond', serif;
  }

  .event-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem; /* Espacio entre los elementos */
    font-size: 1.6rem;
    padding: 1rem 2rem;
  }
  
  .separator {
    width: 0.5px;
    height: 5.5rem;
    background-color: #5a4625;
  }
  
  .event-details div {
    font-family: 'Cormorant Garamond', serif;
    color: #5a4625;
  }
  
  .hero-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 0 8rem;
  }
  
  .details {
    text-align: center;
    margin: 2rem 0;
    font-size: 1.4rem;
  }

  .details h3 {
    font-size: 2.2rem;
    font-weight: semibold;
    font-family: 'Cormorant Garamond', serif;
    padding: 1rem 0;
    font-weight: regular;
  }

  .details p {
    font-family: 'Cormorant Garamond', serif;
    color: #5a4625;
    padding-bottom: 1.3rem;
  }

    .countdown {
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
      font-family:'EB Garamond', serif;
      display: flex;
      gap: 2rem; 
      text-align: center;
    }

    .time-unit .number {
      font-size: 3rem; 
      font-weight: regular;
    }

    .time-unit .label {
      font-size: 1rem; /* Tamaño pequeño para las etiquetas */
      margin-top: -15px;
      font-family:'EB Garamond', serif;
    }
  
    .event-details-2 {
      /* text-align: center;
      
      padding: 1rem; */
    justify-content: center;
    align-items: center;
    gap: 3.5rem; /* Espacio entre los elementos */
    font-size: 1.6rem;
    padding: 1rem 2rem;
    }
    
    h1 {
      font-size: 2rem;
      margin: 0.5rem 0;
    }
    
    .address {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    
    .waze-button {
      background-color: #5a4625; /* Botón marrón */
      color: #fff;
      border: none;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 5px;
      margin-bottom: 1.5rem;
    }
    
    .waze-button:hover {
      background-color: #4a3a1f; /* Más oscuro al pasar el mouse */
    }
    
    .schedule {
      text-align: center;
      margin-top: 2rem;
      padding-top: 1rem;
      padding: 0 18rem;
    }
    
    .schedule-item {
      display: flex;
      justify-content: center;
      gap: 3rem;
      margin: 0.5rem 0;
      border-top: 1px solid #d9c9a7;
      padding: 1.5rem 0;
    }
    
    .time {
      font-weight: bold;
      color: #5a4625;
    }
    
    .activity {
      font-style: italic;
      color: #5a4625;
    }

    .separator-div {
      padding: 3rem 2rem;
    }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .hero {
      padding: 1rem;
    }
  
    .details {
      margin: 1rem 0;
    }
  
    .countdown {
      flex-direction: column;
      gap: 0.5rem;
      font-size: 1.2rem;
    }
  }
  