/* General Styles */

.home {
  font-family: 'Cormorant Garamond', serif;
  color: #5a4625;
  background-color: #f4ebda;
  padding: 2rem;
  text-align: center;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.invitation-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.couple-names {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.event-location,
.event-date {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.hero {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 2rem;
}

/* Botón de confirmación */
.rsvp-button {
  font-size: 1rem;
  color: #4b4033;
  background-color: transparent;
  border: 1px solid #4b4033;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.rsvp-button:hover {
  background-color: #4b4033;
  color: #faf8f2;
}

.slider {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .home {
    text-align: right; 
  }

  .rsvp-button {
    margin-right: 0;
  }

  .invitation-title {
    font-size: 1.5rem;
  }

  .couple-names {
    font-size: 3rem;
  }

  .event-location,
  .event-date {
    font-size: 1rem;
  }

  .rsvp-button {
    font-size: 0.9rem;
    padding: 0.6rem 1.5rem;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}
